<settings>
	
	 <setting propertyKey="@Properties.field1" title="@Strings.field1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.none</listEntry>
			<listEntry value="1">@Strings.altitude</listEntry>
			<listEntry value="2">@Strings.calories</listEntry>
			<listEntry value="3">@Strings.distance</listEntry>
			<listEntry value="4">@Strings.hr</listEntry>
			<listEntry value="5">@Strings.steps</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.field1Color" title="@Strings.field1Color">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
			<listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
			<listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
			<listEntry value="0x000000">@Strings.colorBlack</listEntry>
			<listEntry value="0xFF0000">@Strings.colorRed</listEntry>
			<listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
			<listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
			<listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
			<listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
			<listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
			<listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
			<listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.field2" title="@Strings.field2">
		<settingConfig type="list">
			<listEntry value="0">@Strings.none</listEntry>
			<listEntry value="1">@Strings.altitude</listEntry>
			<listEntry value="2">@Strings.calories</listEntry>
			<listEntry value="3">@Strings.distance</listEntry>
			<listEntry value="4">@Strings.hr</listEntry>
			<listEntry value="5">@Strings.steps</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.field2Color" title="@Strings.field2Color">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
			<listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
			<listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
			<listEntry value="0x000000">@Strings.colorBlack</listEntry>
			<listEntry value="0xFF0000">@Strings.colorRed</listEntry>
			<listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
			<listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
			<listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
			<listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
			<listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
			<listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
			<listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.field3" title="@Strings.field3">
		<settingConfig type="list">
			<listEntry value="0">@Strings.none</listEntry>
			<listEntry value="1">@Strings.altitude</listEntry>
			<listEntry value="2">@Strings.calories</listEntry>
			<listEntry value="3">@Strings.distance</listEntry>
			<listEntry value="4">@Strings.hr</listEntry>
			<listEntry value="5">@Strings.steps</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.field3Color" title="@Strings.field3Color">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
			<listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
			<listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
			<listEntry value="0x000000">@Strings.colorBlack</listEntry>
			<listEntry value="0xFF0000">@Strings.colorRed</listEntry>
			<listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
			<listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
			<listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
			<listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
			<listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
			<listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
			<listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
		</settingConfig>
	</setting>

     <setting propertyKey="@Properties.backgroundColor" title="@Strings.backgroundColor">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.colorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.colorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.dateColor" title="@Strings.dateColor">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.colorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.colorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.digitalTimeColor" title="@Strings.digitalTimeColor">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.colorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.colorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.analogTimeColor" title="@Strings.analogTimeColor">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.colorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.colorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.colorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.colorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.colorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.colorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.colorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.colorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.colorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.colorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.colorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.colorDarkBlue</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.fieldHR" title="@Strings.fieldHR">
		<settingConfig type="boolean" />
	</setting>

</settings>
